.item {
  font-size: 2rem;
  border: 2px solid blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex-wrap: wrap;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow-x: hidden;
}

.itemRed {
  border: 2px solid red;
}

@media (max-width: 450px) {
  .item {
    justify-content: center;
  }
}
